.badge {
    background-color: tomato;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: white;
    font-weight: 600;
}