.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__link {
    position: relative;
    color: #2e363e;
}
.nav__notification {
    background-color: tomato;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 21px;
    bottom: 16px
}
.nav__point {
    background-color: tomato;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 32px;
    bottom: 28px;
}